html{
	scroll-behavior: smooth;

}
body{
	background-color: #1D0F28FF;	
	color: black;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Sulphur Point', sans-serif;
}

h1,h2{
	font-family: 'Alegreya SC';
}


/*main page*/

header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	background-color: #053976FF;
	z-index: 10;
	box-shadow: 5px 5px 5px black,-5px 5px 5px black;
}

header ul{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	list-style-type: none;
	margin: 0px;
  	padding: 0;
  	overflow: hidden;
}

header li{
	float: right;	

}

#menu{
	display: none;
}

header li a,a:visited{
	font-size:2.5vh;
	transition: font-size 0.4s, border 0.3s linear,background-color 0.3s;
	text-decoration: none;
	color:white;
	display: block;
	padding: 14px 16px;
	width: auto;
	text-align: center;
}


header li a:hover{
	color:#096A32FF;
	background-color: white;
	text-decoration: none;
	box-shadow: 5px 5px 5px black;
	border-bottom: 5px solid black;
	border-top: 3px solid #BABDB6FF;
	font-size: 2.75vh;
	font-weight: bold;
}

header li a:active{
	background-color: #096A32FF;
	color:white;
	text-decoration: none;
	border:none;
}

.profile_pic{
	justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 40px;
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.profile_pic img{
	width: 30%;
    height: auto;
    border-radius: 1000px;
    border: 2px solid white;
    filter: drop-shadow(0 0px 10px);
    opacity: 0.9;
    transition: transform 0.7s, filter 0.5s, border-color 0.5s;
}


.profile_pic h1{
	letter-spacing: normal;
	word-break: break-word;
    font-family: 'Aldrich';
    text-align: center;
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 15px black;
    transition: letter-spacing 0.3s, text-shadow 0.2s, transform 0.2s
}

.profile_pic h1:hover{
	letter-spacing: 0.1em;
	text-shadow:0 0 25px white;
	transform: scale(1.1);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
}

.profile_pic img:hover{
	transform: scale(1.1);
	filter: drop-shadow(0 0 20px white);
	border-color: black;
}


@media screen and (max-width: 800px) {

	.profile_pic{
		margin-top: 50px;
	}
	.profile_pic h1{
		font-size: 4em;
	}

	.profile_pic img{
		width: 50%;
		height: auto;
	}
	header ul{
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}
	
	header li{
		float: none;
		width:100%;
	}

	.show_menu,#menu{
		display: block;
	} 
	
	.item_menu{
		display: none;
	}

	.show_menu:hover .item_menu{
		display: flex;
		flex-direction:column-reverse;
	}
}
	
/*bio div*/
#bio{
	font-size:2em;
	flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    color: white;
    text-shadow: 0 0 1px white;
}

#bio h1{
	padding: 20px;
	font-size: 2em;
	text-align: center;
	margin:auto;
	margin-top: 10px;
	font-weight: bold;
	width: 100%;
	outline-offset: 2px;
	transition: padding 0.4s,border 0.4s, outline-offset 0.2s;
}

#bio h1:hover{
	background-color: white;
	color:black;
	border:2px solid black;
	width: 40%;
	outline: 2px solid white;
	outline-offset: 10px;
}

#bio1{
	margin-top: 30px;
	padding: 50px;
	position:relative;
	width: 75vw;
	margin-left: 20px;
	float: left;
	border: 1px solid white;
	border-right: 0;
	border-bottom: 0;
	border-top-left-radius: 150px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 150px;
	transition: font-weight 0.5s, letter-spacing 0.3s;	
}

#bio2{
	margin-top: 5px;	
	position: relative;
	width: 75vw;
	margin-right: 20px;
	float :right;
	border: 1px solid white;
	border-left: 0;
	border-bottom: 0;
	padding: 50px;
	border-top-right-radius: 150px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 150px;
	margin-bottom: 10px;
	transition: font-weight 0.5s;	
}

#bio1:hover, #bio2:hover{
	font-weight: bold;
}


.bg{
	margin: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    filter: blur(5px) opacity(90%);
    z-index: -1;
}

.content{
	width: 50vw;
	margin: 20px;
	font-family: 'Solway', serif;
	font-size: 1.5vw;	
}

.content p{
	color:white;	
	background-color: black;
	box-shadow: 0 0 5px black;
	border-style: solid;
	padding: 10px;
	border-radius: 10px;
}

.content h2{
	background-color: white;
	color: black;
	position: relative;
	text-align: center;
	padding: 20px;
	margin: 30px;
	margin-top: 0;
	border: 2px solid black;
	font-size: 2.5vw;
	box-shadow: 0 0 2px black;
	word-wrap: break-word;
	transition: color 0.4s, background-color 0.4s;
}

.content h2:hover{
	background-color: #555753FF;
	color:white;
}

.right{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;	
}	

.left{
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.main_div{
	align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    display: flex;
}

.main_div h2{
	margin-top: 10%;
}

img{
	height: 60vh;
    width: 40vw;
    margin: 10px 20px;
    border: 10px solid #D3D7CFFF;
    filter: drop-shadow(0 10px 7px black);
}

.ldiv,.rdiv{
	width:25%;
	margin: 10px;
}

#ach .bg{
	background-image: url(images/ach_bg.jpeg);
}

#blog .bg{
	background-image: url(images/blog_bg.jpeg);
}


#hobby{
	flex-wrap: nowrap;
}

#hobby .bg{
	background-image: url(images/hobby_bg.jpg);
}

#hobby content{
	margin: 1vw;
}

#social{
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa {
	margin: 10px;
	border: 2px solid black;
	/*border-radius: 1000px;	*/
	padding-top: 1em;
  font-size: 2.5em;
  width: 5vw;
  height: 5.2vh;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s;

}

.fa:hover{
	opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
}

.fa-github{
	background-color: black;
}

.fa-reddit{
	background-color: #ff4500;
}

.fa-instagram{
	background-color: #bc2a8d;
}

.fa-google{
	background-color: #dd4b39;
}


